@use "sass:map";

$breakpoints: (
  small-xs: 320px,
  small: 576px,
  medium: 768px,
  large: 992px,
  large-xl: 1200px,
  large-xxl: 1400px,
) !default;

/*
Examples:

// min-width
@include breakpoint(medium, min) { ... } => @media (min-width: 768px) { ... }

// max-width
@include breakpoint(medium, max) { ... } => @media (max-width: 767px) { ... }

// between
@include breakpoint(medium, min) {
  @include breakpoint(large, max) { ... }
} => @media (min-width: 768px) and (max-width: 991px) { ... }

//
@include breakpoint(landscape, orientation) { ... } => @media (orientation: landscape) { ... }
@include breakpoint(300px, max-height) { ... } => @media (max-height: 300px) { ... }
 */

@mixin breakpoint($breakpoint, $direction) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @if $direction == max {
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
    } @else if $direction == min {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint-value) {
        @content;
      }
    }
  }

  // If the breakpoint doesn't exist in the map.
  @else {
    @if $direction == max {
      @media (max-width: $breakpoint) {
        @content;
      }
    } @else if $direction == min {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint) {
        @content;
      }
    }
  }
}
